codes/backend/main.py
# ======================
# Flutter
# ======================
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# ======================
# Android / iOS
# ======================
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# ======================
# Python
# ======================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment files
# ======================
.env
.env.*

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log
